*{
    box-sizing: border-box;
 }

 *:focus {
    outline: 0 !important;
}

body{
    background-image: linear-gradient(to left top, rgb(36, 95, 13), rgb(233, 243, 179));
    background-color: initial;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('images/logo.png') center no-repeat rgb(166, 250, 218);
}

 .container-fluid .head{
     padding-top: 1rem;
     color: white;
     font-family: 'Ubuntu';
     font-weight: 700;
     font-size: 2rem;
 }
 .nav{
   background-color: rgb(55, 107, 3);
 }
 .navbar-light .navbar-nav .nav-link{
     padding: 0.5rem 1rem 0.5rem 1rem;
     color: white;
     text-align: center;
     border-radius: 1rem;
 }

 .dropdown-menu.show {
    display: block;
    border-style: none;
    background-color:rgb(55, 107, 3);
}

.dropdown-item{
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: white;
}

.dropdown-item:hover{
    background-color: rgb(228, 228, 94);
    border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link:hover{
     background-color:rgba(138, 245, 31, 0.507);
 }

 .navbar-nav li{
     margin-left: 10px;
     margin-right: 10px;
 } 

 @media(min-width:900px){
     .gap{
         margin-left: 35%;
     }
 }

 .herbs{
    margin-top: 2rem;
    margin-bottom: 2rem;
 }

 .herbs .head{
     overflow-y: hidden;
     text-align: center;
     text-decoration: underline;
 }

 .head1 {
    overflow: hidden;
    text-align: center;
    color: black;
}
.head1:before,
.head1:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.head1:before {
    right: 0.5em;
    margin-left: -50%;
}
.head1:after {
    left: 0.5em;
    margin-right: -50%;
}

.row{
    z-index: 100;
}

.carousel-item img{
   height: 40rem;
}

.herbs{
    padding-left: 1rem;
    padding-right: 1rem;
}

.card{
    border: 1px solid;
    box-shadow: 5px 4px rgba(37, 95, 23, 0.575);
}

.card-btn{
   display: flex;
   justify-content: space-evenly;
   margin-top: 10px;
   margin-bottom: 10px;
}

.card-btn button{
    width: 8em;
}

.medcontainer {
    position: relative;
    font-family: Arial;
    z-index: 100;
    padding: 20px;
  }

.medcontainer img{
    filter: blur(2px);
}
  
.medtext-block {
    text-align: center;
    position: absolute;
    bottom: 40px;
    right: 30px;
    background-color: rgba(22, 21, 21, 0.315);
    font-size: 30px;
    padding: 10px;
    z-index: 150;
  }

.medtext-block a{
    text-decoration: none;
    color: white;
  }

.ornacontainer {
    position: relative;
    font-family: Arial;
    z-index: 100;
    padding: 20px;
  }

.ornacontainer img{
    filter: blur(2px);
}
  
.ornatext-block {
    position: absolute;
    bottom: 40px;
    right: 30px;
    background-color: rgba(22, 21, 21, 0.315);
    font-size: 30px;
    padding: 10px;
    text-align: center;
    z-index: 150;
  }

.ornatext-block a{
    text-decoration: none;
    color: white;
  }

.bg-primary{
    background-color: #0f5132 !important; 
}

 @media (max-width:900px) {
     .navbar-light .navbar-nav .nav-link{
         padding: 0.7rem 0.1rem 0.7rem 0.1rem;
         color: white; 
     }   
     .carousel-item img{
        height: 20rem;
     }
    .medtext-block, .ornatext-block{
        margin: auto;
        width: 80%;
    }
     

 }
 @media (max-width:400px){
    .container-fluid .head{
        font-size: 1.2rem;
    }   
 }