*{
    box-sizing: border-box;
 }
 
 .nav{
   background-color: chartreuse;
  
 }
 .navbar-light .navbar-nav .nav-link{
     padding: 0.5rem 1rem 0.5rem 1rem;
     color: white;
     text-align: center;
     border-radius: 1rem;
 }
 .navbar-light .navbar-nav .nav-link:hover{
     background-color:yellow;
 }
 
.carousel-item img{
   height: 30rem;
}

 @media (max-width:500px) {
     .navbar-light .navbar-nav .nav-link{
         padding: 0.7rem 0.1rem 0.7rem 0.1rem;
         color: white;
         
     }   
     
 }