*{
    box-sizing: border-box;
 }

 *:focus {
    outline: 0 !important;
}

body{
    background-color:rgb(164, 235, 94);
}

 .container-fluid .head{
     padding-top: 1rem;
     color: white;
     font-family: 'Ubuntu';
     font-weight: 700;
     font-size: 2rem;
 }
 .nav{
   background-color: rgb(55, 107, 3);
 }
 .navbar-light .navbar-nav .nav-link{
     padding: 0.5rem 1rem 0.5rem 1rem;
     color: white;
     text-align: center;
     border-radius: 1rem;
 }
 .navbar-light .navbar-nav .nav-link:hover{
     background-color:rgb(228, 228, 94);
 }
 .navbar-nav li{
     margin-left: 10px;
     margin-right: 10px;
 } 

 .gradient-custom {
    background: #a18cd1;

    background: -webkit-linear-gradient(45deg,
        rgba(101, 230, 169, 0.6),
        rgba(68, 233, 156, 0.6) 100%);

    background: linear-gradient(45deg,
        rgba(101, 230, 169, 0.6),
        rgba(68, 233, 156, 0.6) 100%);
  }
 
.bg-primary{
    background-color: #0f5132 !important; 
}

 @media (max-width:900px) {
     .navbar-light .navbar-nav .nav-link{
         padding: 0.7rem 0.1rem 0.7rem 0.1rem;
         color: white; 
     }   
     .carousel-item img{
        height: 20rem;
     }

 }
 @media (max-width:400px){
    .container-fluid .head{
        font-size: 1.2rem;
    }   
 }